.modal__button {
    display: block;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--normal-color);
    border: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #ffffff;
        
    padding: 10px 52px;
    margin: 0 auto;
    
}